
#login {
   text-align: right;
}

fieldset {
    background-color: #eee;
    padding-top:15px;
    padding-bottom:5px;
    padding-left: 10px;
    width: 80%;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        -border-radius: 6px;
}

#menu {
    padding-left:  15px;
    padding-right: 15px;
    padding-top:   5px;
    background-color: #84b218;
}

#menu img {
    width: 20px;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    text-decoration: none;
    color: white;
}

#menuCurrent {
    font-weight: bold;
    padding-left:  15px;
    padding-right: 15px;
    padding-top:   5px;
    background-color: #15345A;
}

#menuCurrent a {
    color: white;
    text-decoration: none;
}

#menuCurrent img {
    width: 20px;
}

h3 {
    border-bottom-color: #000000;
    border-bottom-width: 1px;
    border-bottom-style: groove;
    width: 100%;
    color: #8b0000;
}

h4 {
    border-bottom-color: #000000;
    border-bottom-width: 1px;
    border-bottom-style: groove;
    width: 100%;
    color: green;
}


#error_message {
    position:absolute;
    left:45%;
    top:5px;
    background-color: green;
    color:white;
    font-size:110%;
}

#warning_message {
    position: absolute;
    left: 45%;
    top: 5px;
    background-color: red;
    color: white;
    font-size: 110%;
}

/*
simple form 
*/


.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form label {
  float: left;
  width: 80px;
  text-align: right;
  margin: 2px 10px;
}

div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

div.boolean label, label.collection_radio {
  float: none;
  margin: 0;
}

label.collection_radio {
  margin-right: 10px;
  vertical-align: -2px;
  margin-left:   2px;
}

.field_with_errors {
  background-color: #ff3333;
}


.simple_form .error {
  clear:   left;
  color:   black;
  display: block;
  margin-left: 120px;
  font-size:    12px;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size:    12px;
  color: #555;
  display: block;
  font-style: italic;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

input.string_small {
	width:80px;
}

input.check_boxes {
  margin-left: 3px;
  vertical-align: -3px;
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left:   2px;
}



